block navigation
    .navbar
        nav.grey.darken-1.row
            .nav-wrapper.col.s12
                a.brand-logo.hide-on-large-only(href=".") Lindat Billing
                ul.right.hide-on-med-and-down
                    if user
                        - var full_name = user.first_name + ' ' + user.last_name;
                        li
                            a
                                strong= full_name
                    li
                        a(href="logout")
                            i.material-icons logout