.importing {
    font-weight: bolder;
    color: #f57f17;
}

.error {
    font-weight: bolder;
    color: #f44336;
}

.completed {
    font-weight: bolder;
    color: #4caf50;
}

.tabs-icon, .tabs-icon .tab {
    line-height: inherit;
    height: inherit;
}

.tabs-icon .tab a{
    padding: 0;
 }