extends layout.pug

block title
    title Login Billing: Dashboard

block custom-css
    link(rel="stylesheet" href="css/custom.css")
    style(type="text/css").
        header, main, footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {
            header, main, footer {
                padding-left: 0;
            }
        }

append js
    script(src='js/custom.js')
    script(src='js/moment.min.js')
    script(src='js/Chart.min.js')
    script(src='js/timeline-chart.js')
    script(src='js/lb-datatable.js')

block navigation
    include includes/navigation.pug

block sidebar
    include includes/sidebar.pug

block content
    .container
        .row
            .col.s12
                h5 Dashboard
                if error
                    .red-text
                        strong= error
                if message
                    .green-text
                        strong= message
                .divider
        .row
            include includes/data.pug
