extends dashboard.pug

block title
    title Login Billing: Dashboard

block content
    .container
        .row
            .col.s12
                h5 Pricing
                if error
                    .red-text
                        strong= error
                if message
                    .green-text
                        strong= message
                .divider
        .row
            .col.s12
                table(type='lb-datatable' data-url='api/pricings' data-header='["", "Service", "User", "Price", "From", "Till", "Active"]' )
                  script.
                    [ {
                      "targets": 0,
                      "data": null,
                      "render": function ( data, type, row, meta ) { return '<a class="clr-fg-edit" href="admin/pricing/'+row[0]+'"><i class="material-icons">edit</i></a>';}
                    }, {
                      "targets": 2,
                      "data": null,
                      "render": function ( data, type, row, meta ) {
                            const user_id = data[6];
                            return user_id
                              ? '<a class="clr-fg-link" href="admin/user/'+user_id+'">'+row[meta['col']]+'</a>'
                              : '<i class="material-icons">people</i>';
                          }
                    }, {
                      "targets": [4],
                      "data": null,
                      "render": function ( data, type, row, meta ) { return row[meta['col']] ? moment(row[meta['col']]).format('YYYY-MM-DD') : '';}
                    }, {
                      "targets": [5],
                      "data": null,
                      "render": function ( data, type, row, meta ) { return row[meta['col']] ? moment(row[meta['col']]).format('YYYY-MM-DD') : '<a class="clr-fg-edit" href="admin/pricing/'+row[0]+'?action=split" title="Split"><i class="material-icons">last_page</i><i class="clr-fg-edit material-icons">keyboard_arrow_right</i></a>';}
                    }, {
                      "targets": 6,
                      "data": null,
                      "render": function ( data, type, row, meta ) {
                            return  row[7] ? '<i class="clr-fg-icon material-icons">directions_run</i>': '';
                          }
                    } ]

    .fixed-action-btn
        a.btn-floating.btn-large.clr-bg-add(href="admin/add-pricing")
            i.material-icons.large add_circle