extends layout.pug

block title
    title Lindat Billing: Registration Successful

block content
    .section
    .row.container.center
        .col.z-depth-6.card-panel.s10.offset-s1.m8.offset-m2.l6.offset-l3
            .section
            h5 Account created successfully
            .section
            .divider
            .section
            .row.col.s10.offset-s1.
                Please check your email to verify the account.
            .row.col.s10.offset-s1
                a.btn.grey.waves-effect.col.s12.white-text(href="login")
                    strong Login
            .section