extends layout.pug

block title
    title Lindat Billing: New User Registration

block content
    .section
    .row.container.center
        .col.z-depth-6.card-panel.s10.offset-s1
            .section
            //i.material-icons.medium.prefix account_circle
            h5 New User Signup
            if error
                .red-text
                    strong= error
            if message
                .green-text
                    strong= message
            .section
            .divider
            .section
            form(action="register" method="post" enctype="application/x-www-form-urlencoding")
                .row
                    .input-field.col.s12.m6
                        i.material-icons.prefix mail_outline
                        input#email.validate(name="email" type="text" required="" aria-required="true")
                        label(for="email") Email Address
                        span.helper-text(data-error="Invalid Email")
                    .input-field.col.s12.m6
                        i.material-icons.prefix lock_outline
                        input#password.validate(name="password" type="password" required="" aria-required="true")
                        label(for="password") Password
                        span.helper-text(data-error="Required")
                .row
                    .input-field.col.s12.m6
                        i.material-icons.prefix person
                        input#fname.validate(name="fname" type="text" required="" aria-required="true")
                        label(for="fname") First Name
                        span.helper-text(data-error="Required")
                    .input-field.col.s12.m6
                        i.material-icons.prefix person
                        input#lname.validate(name="lname" type="text" required="" aria-required="true")
                        label(for="lname") Last Name
                        span.helper-text(data-error="Required")
                .row
                    .input-field.col.s12.m8.offset-m2
                        i.material-icons.prefix account_balance
                        input#org.validate(name="org" type="text" required="" aria-required="true")
                        label(for="org") Organization
                        span.helper-text(data-error="Required")
                .row
                    .input-field.col.s10.offset-s1
                        button.btn.grey.waves-effect.col.s12.white-text(type="submit")
                            strong Register
                .row
                    .margin.right-center.medium-small
                        | Already have an account then
                        strong
                            a(href="login") Login
            .section