extends dashboard.pug

block title
    title Login Billing: Dashboard

block content
    .container
        .row
            .col.s12
                h5 Users
                if error
                    .red-text
                        strong= error
                if message
                    .green-text
                        strong= message
                .divider
        .row
            .col.s12
                table(type='lb-datatable' data-url='api/users' data-header='["", "Email", "First Name", "Last Name", "Organization"]' )
                  script.
                    [ {
                      "targets": 0,
                      "data": null,
                      "render": function ( data, type, row, meta ) {const is_admin = data[5]; return '<a class="clr-fg-link" href="admin/user/'+data[0]+'"><i class="material-icons">' +(is_admin?'info':'info_outline')+'</i></a>';}
                    } ]

    .fixed-action-btn
        a.btn-floating.btn-large.clr-bg-add(href="admin/add-user")
            i.material-icons.large add_circle